<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Mont Blanc Apartments</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
	<div id="header">
		<a href="index.html" id="logo"><img src="images/logo.jpg" alt="" width="507" height="88" /></a>							                                                                                                                                                                                         <div class="inner_copy"><a href="http://www.webbuildersguide.com/website-builder-categories/best-website-builders-for-hotels/">http://www.webbuildersguide.com/website-builder-categories/best-website-builders-for-hotels/</a></div>																																																																														
		<span>Traditionally  Royal  hotel</span>
		<ul id="menu">
			<li><a href="#">Home</a></li>
			<li><a href="#">About our Hotel</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Photogallery</a></li>
			<li><a href="#">Testimonials</a></li>
			<li><a href="#">Locations</a></li>
			<li><a href="#">Contacts</a></li>
		</ul>
		<img src="images/image.jpg" alt="" width="1000" height="311" /><br />
	</div>
	<div id="content">
		<div class="inside">
			<div id="sidebar">
				<div class="order">
					<form action="#">
						<h3>Reservation</h3>
						<table width="239" cellpadding="0" cellspacing="0">
							<tr>
								<td class="first">
									Arrival Date<br />
									<select>
										<option>August</option>
									</select>
								</td>
								<td class="second"><br />
									<select class="year">
										<option>2012</option>
									</select>
									<select class="date">
										<option>15</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="first">
									Nights<br />
									<select>
										<option>1</option>
									</select>
								</td>
								<td class="third">
									Rooms<br />
									<select>
										<option>0</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="first">
									Adults<br />
									<select>
										<option>1</option>
									</select>
								</td>
								<td class="third">
									Children<br />
									<select>
										<option>1</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="2" class="reset"><a href="#">RESET</a></td>
							</tr>
						</table>
						<div class="button"><a href="#"><img src="images/button.gif" alt="" width="134" height="21" /></a></div>																																																																																																												
					</form>
				</div>
				<div class="block">
					<h4>Locations</h4>
					<p>Magna a luctus lacinia, sem Lorem vestibulum neque ac onsectetuer Donec fermentum varius erat. Sed sit amet tellus. Duis tristique, lacus vel nonummy lobortis, nibh massa dapibus diam a viverra augue ipsum et diam. </p>
					<img src="images/map.jpg" alt="" width="304" height="207" class="map" /><br />
					<a href="#" class="more">more info</a> <a href="#">ZOOM</a>
				</div>
			</div>
			<div id="center">
				<div class="block">
					<h4>Last News</h4>
					<p>Magna a luctus lacinia, sem Lorem vestibulum neque ac onsectetuer Donec fermentum varius erat. Sed sit amet tellus. Duis tristique, lacus vel nonummy lobortis, nibh massa dapibus diam a viverra augue ipsum et diam.<br /> Sed condimentum, libero sed cursus dapibus, libero enim feugiat tellus, vitae accumsan elit neque et purus. Cras aliquet consectetuer risus. Ut wisi. Etiam nec nisl placerat enim imperdiet dignissim. Maecenas sit amet nunc vel ligula tempor cursus. Sed faucibus faucibus eros. Praesent pharetra wisi ut sem. Morbi dignissim pulvinar dui. </p>
					<a href="#" class="more">more info</a>
				</div>
				<div class="block">
					<h4>Welcome to our hotel</h4>
					<p><strong>Magna a luctus lacinia, sem Lorem</strong> vestibulum neque ac onsectetuer Donec fermentum varius erat. Sed sit amet tellus. Duis tristique, lacus vel nonummy lobortis, nibh massa dapibus diam a viverra augue ipsum et diam.<br /> Sed condimentum, libero sed cursus dapibus, libero enim feugiat tellus, vitae accumsan elit neque et purus. Cras aliquet consectetuer risus. Ut wisi. Etiam nec nisl placerat enim imperdiet dignissim. Maecenas sit amet nunc vel ligula tempor cursus. Sed faucibus faucibus eros. Magna a luctus lacinia, sem Lorem vestibulum neque ac onsectetuer Donec fermentum varius erat. Sed sit amet tellus. Duis tristique, lacus vel nonummy lobortis, nibh massa dapibus diam a viverra augue ipsum et diam. </p>
				</div>
				<div class="block">
					<h4>Our Services</h4>
					<p>Etiam felis mauris, mattis sed, dapibus sit amet, elementum at, sapien. Pellentesque eu mi. Vestibulum imperdiet, sem tristique tempus cursus, lacus lectus aliquet lorem, accumsan accumsan arcu velit ac mauris. Quisque et libero. Pellentesque ac pede commodo tortor gravida eleifend. Aliquam interdum velit tristique est. Aliquam pellentesque ultrices ante. Praesent sit amet purus eget velit hendrerit dignissim. Nunc eu libero blandit diam vehicula elementum. Vestibulum mauris elit, porta sit amet, eleifend a, cursus in, sem. Nunc tempus, nunc in convallis porttitor, sapien libero lobortis arcu, eget viverra metus massa a neque. Etiam egestas magna sed sem. </p>
					<p>Nunc feugiat, quam at sagittis commodo, lacus magna congue justo, eget viverra neque risus quis risus. Etiam placerat elit at ligula. Praesent hendrerit augue vitae lorem. Pellentesque dignissim, eros eget sodales.</p>
					<a href="#" class="more">more info about our services</a>
				</div>
			</div>
			<div id="photogallery">
				<div class="photos">
					<img src="images/photogallery_title.gif" alt="" width="270" height="62" id="title" />
					<a href="#" target="_blank"><img src="images/img1.jpg" alt="" width="158" height="100" /></a>
					<span>Name Photo</span>
					<a href="#" target="_blank"><img src="images/img2.jpg" alt="" width="158" height="100" /></a>
					<span>Name Photo</span>
					<a href="#" target="_blank"><img src="images/img3.jpg" alt="" width="158" height="100" /></a>
					<span>Name Photo</span>
					<a href="#" target="_blank"><img src="images/img4.jpg" alt="" width="158" height="100" /></a>
					<span>Name Photo</span>
					<a href="#" id="all"><img src="images/all.gif" alt="" width="134" height="21" /></a>		 
				</div>
				<img src="images/end.gif" alt="" width="270" height="60" />
			</div>
		</div>	
	</div>
	<div id="footer">
		<ul>
			<li><a href="#">Home</a>|</li>
			<li><a href="#">About our Hotel</a>|</li>
			<li><a href="#">Services</a>|</li>
			<li><a href="#">Photogallery</a>|</li>
			<li><a href="#">Testimonials</a>|</li>
			<li><a href="#">Locations</a>|</li>
			<li><a href="#">Contacts</a></li>
		</ul>
		<div id="copyright">																																																																																																											
			<span>Copyright &copy; MontBlanc Apartments</span>
			<span>&copy; Design by <a href="http://www.bestfreetemplates.info/builders.php" target="_blank"><img src="images/footer.gif" alt="http://www.bestfreetemplates.info/builders.php" title="http://www.bestfreetemplates.info/builders.php" /></a></span>																																																																	
		</div>
	</div>
</body>
</html>
