<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Free Modern-Hotel for Website Template | About :: w3layouts</title>
<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
<link href='http://fonts.googleapis.com/css?family=Economica|Quantico' rel='stylesheet' type='text/css'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
	<body>
		<div style="margin-top:50px;" class="wrap">
				<div class="header">
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" title="logo"/></a>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="top-menu">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li class="active"><a href="about.html">About</a></li>
							<li><a href="services.html">Services</a></li>
							<li><a href="#">Our menu</a></li>
							<li><a href="booking.html">Booking</a></li>
							<li><a href="contact.html">Contact</a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="content">
						<div class="right-sidebar">
						<div class="search-bar">
							<h3>Site Search</h3>
							<ul>
							<li><input type="text"></li>
							<li><input type="submit"></li>
							</ul>
						</div>
						<div class="clear"> </div>
						<div class="form">
							<h3>BOOK A ROOM</h3>
							<table>
								<tr>
									<td><span>Your Name:</span></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td><span>Email:</span></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td><span>Phone:</span></td>
									<td><input type="text"></td>
								</tr>
								<tr>
									<td><span>Stay time:</span></td>
									<td><select>
										<option>01</option>
										<option>02</option>
										<option>03</option>
									</select><select>
										<option>Jan</option>
										<option>Feb</option>
										<option>Mar</option>
									</select><select>
										<option>1989</option>
										<option>1990</option>
										<option>1991</option>
									</select></td>
								</tr>
								<tr>
									<td><span>Number:</span></td>
									<td><select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select></td>
								</tr>
								<tr>
									<td><span>Arivel Date:</span></td>
									<td><select>
										<option>01</option>
										<option>02</option>
										<option>03</option>
									</select><select>
										<option>Jan</option>
										<option>Feb</option>
										<option>Mar</option>
									</select><select>
										<option>1989</option>
										<option>1990</option>
										<option>1991</option>
									</select></td>
								</tr>
								<tr>
									<td><span>Comments:</span></td>
									<td><input style="height:50px;outline:none;" type="text"></td>
								</tr>
								<tr>
									<td></td>
									<td><input type="submit" value="Submit"><input type="reset"></td>
								</tr>
								
							</table>
							<div class="latest-news">
							<h3>Latest-News</h3>
							<ul>
								<li><h4>15.09.2012</h4></li>
								<li><span>Lorem Ipsum is simply and typesetting industry.</span></li>
								<li><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p></li>
							</ul>
							<ul style="border-bottom:none;">
								<li><h4>15.09.2012</h4></li>
								<li><span>Lorem Ipsum is simply and typesetting industry.</span></li>
								<li><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p></li>
							</ul>
							<ul style="border-bottom:none;">
								<li><h4>15.09.2012</h4></li>
								<li><span>Lorem Ipsum is simply and typesetting industry.</span></li>
								<li><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p></li>
							</ul>
							<div style="margin-right:-5px;" class="read-More">
								<a href="#">ReadMore</a>	
							</div>
						</div>
						</div>
						<div class="clear"> </div>
					</div>
						<div class="left-content-bg">
						</div>
						<div class="left-content">
							<img src="images/slider.png" title="slider1">
						<ul>
							<li><a href="#">&rsaquo;&nbsp;Car Parking</a></li>
							<li><a href="#">&rsaquo;&nbsp;Twenty Fourhours room services</a></li>
							<li><a href="#">&rsaquo;&nbsp;Hot and cold Runing water</a></li>
						</ul>
						<ul>
							<li><a href="#">&rsaquo;&nbsp;Landury services</a></li>
							<li><a href="#">&rsaquo;&nbsp;Medical services</a></li>
							<li><a href="#">&rsaquo;&nbsp;Telephone</a></li>
							<div class="clear"> </div>
						</ul>
						<div class="clear"> </div>
						</div>
						<div class="left-content-grids">
							<div class="grid1">
								<h3>About us</h3>
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
							</div>
							<div class="grid2">
								<ul>
									<li><h4>Lorem Ipsum is simply </h4></li>
									<li><img src="images/about-img1.jpg" title="img1"/></li>
									<li><p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p></li>
									<div class="clear"> </div>
								</ul>
								<ul>
									<li><h4>Long established fact</h4></li>
									<li><img src="images/about-img2.jpg" title="img2"/></li>
									<li><p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p></li>
									<div class="clear"> </div>
								</ul>
								<ul>
									<li><h4>Many desktop publishing</h4></li>
									<li><img src="images/about-img3.jpg" title="img3"/></li>
									<li><p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p></li>
									<div class="clear"> </div>
								</ul>
								<ul>
									<li><h4>Variations of passages</h4></li>
									<li><img src="images/about-img4.jpg" title="img4"/></li>
									<li><p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p></li>
									<div class="clear"> </div>
								</ul>
						</div>	
							<div class="clear"> </div>
							<div class="read-More">
								<a href="#">ReadMore</a>	
							</div>
						</div>
						</div>
						<div class="clear"> </div>
						<div class="Toll-Free">
							<ul>
								<li><span>Call Free&nbsp;:</span></li>
								<li><p>2-243-568-2013</p></li>
							</ul>
							<div class="clear"> </div>
						</div>
					<div class="clear"> </div>
					</div>
				<div class="footer">
						<div class="wrap">
						<div class="footer">
						<div class="footer-grid1">
									<ul>
										<li><h3>News-LaterSign up</h3></li>
										<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p></li>
										<ul>
											<li><input type="text"></li>
											<li><input type="submit" value="subscribe"></li>
										</ul>
										<li><span>&rsaquo;&nbsp;Unsubscribe<a href="#">Here</a></span></li>
										<div class="clear"> </div>
									</ul>
								</div>
								<div class="footer-grid1">
									<img src="images/map1-png.png" title="map"/>
								</div>
								<div class="footer-grid1">
									<ul>
										<li><h3>Location</h3></li>
										<li><h4>New York WA 002</h4></li>
										<li><h4>11 some Street Second Floor</h4></li>
										<li><h4>Email:</h4></li>
										<div class="clear"> </div>
									</ul>
								</div>
						<div class="clear"> </div>
						<div class="rights">
							<h6>© 2013 All rights Reserved | Design by <a href="http://w3layouts.com/">W3Layouts</a></h6>
							<div class="clear"> </div>
						</div>
					</div>
					<div class="clear"> </div>
					</div>
		</div>
</body>
</html>

