<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Free Grand-Hotel for Website Template | About :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="wrap">
<div class="header">
	<div class="logo">
		<a href="index.html"><img src="images/logo.png" alt=""></a>
	</div>
	<div class="search-form">
	<form>
		<fieldset>
			<label><input type="text" value="Search" onfocus="if(this.value=='Search'){this.value=''}" onblur="if(this.value==''){this.value='Search'}"></label><input type="image" src="images/search-form-input-img.png" alt="">
		</fieldset>
	</form>
	</div>
 	<div class="clear"></div>
		<div class="nav">
			<ul>   	
				<li><a href="index.html">HOME</a></li>
				<li class="active"><a href="about.html">ABOUT</a></li>
				<li><a href="booking.html">BOOKING</a></li>
				<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</div>
	<div class="clear"></div>
	<div class="header-banner">
		<div class="banner">
			<img src="images/banner1.jpg" alt="">
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
<div class="content">
		<div class="cont-logo">
			<h2>Guest Information</h2>
		</div>
	<div class="cont-left">
		<div class="cont-left-main"> 
			<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
			<div class="about-para">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkn</p>
				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
			</div>
			<div class="about-pic">
				<img src="images/pic4.jpg" alt="">
			</div>
		<div class="clear"></div>
		</div>
		<div class="grid-list-main">
			<h4>Our Values</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when </p>
		</div>
		<div class="grid-list">
			<h4>Our Service</h4>
				<div class="grid-list-logo"><img src="images/customer-ser.png" alt=""></div>
				<div class="grid-list-para">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when </p>
					<div class="readmore1"><a><img src="images/doubledisc.gif" alt="">Read	More</a></div>
				</div>
		</div>
		<div class="grid-list1">
			<h4>Soft Drinks</h4>
			<div class="grid-list-logo"><img src="images/ico-med-2.png" alt=""></div>
				<div class="grid-list-para">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when </p>
					<div class="readmore1"><a><img src="images/doubledisc.gif" alt="">Read	More</a></div>
				</div>
		</div>
		<div class="clear"></div>
		<div class="grid-list1">
			<h4>Global Rest</h4>
			<div class="grid-list-logo"><img src="images/ico-med-3.png" alt=""></div>
				<div class="grid-list-para">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when </p>
					<div class="readmore1"><a><img src="images/doubledisc.gif">Read	More</a></div>
				</div>
		</div>
		<div class="grid-list">
			<h4>VideoCon</h4>
			<div class="grid-list-logo"><img src="images/ico-med-4.png"></div>
			<div class="grid-list-para">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when  </p>
				<div class="readmore1"><a><img src="images/doubledisc.gif">Read	More</a></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="cont-bot-para">
		<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
		</div>
		<div class="clear"></div>
	</div>
</div>
	<div class="clear"></div>
<div class="footer">
	<div class="f-link">
		<a>terms of use </a>
	</div>
	<div class="f-link1">
		<a>privacy statement </a>
	</div>
	<div class="f-copyrights">
		<p>© all rights reserved | Designed by  <a href="http://w3layouts.com/">W3Layouts</a></p>	
	</div>
	<div class="clear"></div>
</div>
</div>
</body>
</html>