<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Free Grand-Hotel for Website Template | Booking :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="wrap">
<div class="header">
	<div class="logo">
		<a href="index.html"><img src="images/logo.png" alt=""></a>
	</div>
	<div class="search-form">
	<form>
		<fieldset>
			<label><input type="text" value="Search" onfocus="if(this.value=='Search'){this.value=''}" onblur="if(this.value==''){this.value='Search'}"></label><input type="image" src="images/search-form-input-img.png" alt="">
		</fieldset>
	</form>
	</div>
 	<div class="clear"></div>
		<div class="nav">
			<ul>   	
				<li><a href="index.html">HOME</a></li>
				<li><a href="about.html">ABOUT</a></li>
				<li class="active"><a href="booking.html">BOOKING</a></li>
				<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</div>
	<div class="clear"></div>
	<div class="header-banner">
		<div class="banner">
			<img src="images/banner1.jpg" alt="">
		</div>
		<div class="clear"></div>
	</div>
</div>
	<div class="clear"></div>
<div class="content">
<div class="cont-right-box">
		<div class="cont-right-logo">
			<h2>Welcome<a>&nbsp;Message</a></h2>
		</div>
			<div class="cont-right-grid">
				<div class="cont1-img-logo">
					<img src="images/b-pic1.jpg" alt="">
				</div>
			<div class="cont1-para">
				<span>Lorem Ipsum is simply dummy text of the printing and  </span>
			</div>
			 <div class="clear"></div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when </p>
			<div class="read-m">
				<a>Read More</a>
			</div>
			</div>
			<div class="cont-right-grid">
				<div class="cont1-img-logo">
					<img src="images/b-pic2.jpg" alt="">
				</div>
			<div class="cont1-para">
				<span>Lorem Ipsum is simply dummy text of the printing and  </span>
			</div>
			 <div class="clear"></div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when </p>
			<div class="read-m">
				<a>Read More</a>
			</div>
			</div>
			<div class="clear"></div>
</div>
<div class="cont-box1">
		 <div class="grid2">
			 <h4><img src="images/h4-bg.png" alt=""><a>Book A Room</a></h4>
 	<div class="booking-form">	
 		<h3>Reservation Form</h3>
              <form action="#" id="reservation-form">
              <fieldset>
              <div class="rowElem">
					<strong>Check in</strong><br>
					<label><input type="text" name="Day" value="30" class="input"></label><label><input type="text" name="month" value="April 2010" class="input1"></label>
			 </div>
              <div class="rowElem1">
					<strong>Check out</strong><br>
					<label><input type="text" name="Day" value="01" class="input"></label><label><input type="text" name="month" value="May 2010" class="input1"></label>
			  </div>
	           <div>
	           	<strong>Persons</strong> <label><input type="text" name="Day" value="1" class="input2"></label> <strong>Rooms</strong> &nbsp;<label><input type="text" name="Day" value="1" class="input2"></label>
	           </div>
              </fieldset>
            </form>
         <div class="form-button">
				<form>
						<input type="submit" value="Check Availabilty">
				</form> 
		</div>
		 <div class="search-button">
				<form>
						<input type="submit" value="Advanced Search">
				</form> 
		</div>
            <div class="clear"></div>
         </div>
</div>
</div>
	<div class="clear"></div>
<div class="cont-grid-list">
	 <h4><img src="images/h4-bg.png" alt=""><a>In <span> Room</span></a></h4>
	 <div class="cont-nav">
	<nav>
	<ul>
		<li><a href="#">Rediffusion and Library</a></li>
		<li><a href="#">Color TV</a></li>
		<li><a href="#">Video Con</a></li>
		<li><a href="#">Mini-bar</a></li>
		<li><a href="#">Color TV</a></li>
		<li><a href="#">Rediffusion</a></li>
		<li><a href="#">Color TV</a></li>
		<li><a href="#">Video Con</a></li>
		<li><a href="#">Video Con</a></li>
	</ul>
</nav>
			<div class="read-m">
				<a>See All</a>
			</div>
	</div>
</div>
<div class="cont-grid-list">
	 <h4><img src="images/h4-bg.png" alt=""><a>SPECIAL <span>OFFER!</span></a></h4>
	 <div class="cont-img-logo">
			<img src="images/pic2.jpg">
	</div>
	<h5>Get Breakfast with fruits......</h5>
</div>
<div class="cont-grid-list">
	 <h4><img src="images/h4-bg.png"><a>Soft <span>Deals</span></a></h4>
	 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when </p>
	 <div class="grid_2">
		<ul class="list">
				<li>Los Angeles<br> <a href="#">Hotels, Things to do</a></li>
				<li>New York City<br> <a href="#">Hotels, Things to do</a> </li>
				<li>Orlando<br> <a href="#">Hotels, Things to do</a></li>
				<li>Paris<br> <a href="#">Hotels, Things to do</a></li>
		</ul>
	</div>
	<div class="grid_2">
		<ul class="list">
				<li>Los Angeles<br> <a href="#">Hotels, Things to do</a></li>
				<li>New York City<br> <a href="#">Hotels, Things to do</a> </li>
				<li>Orlando<br> <a href="#">Hotels, Things to do</a></li>
				<li>Paris<br> <a href="#">Hotels, Things to do</a></li>
		</ul>
	</div>
</div>
		<div class="clear"></div>
</div>
<div class="footer">
	<div class="f-link">
		<a>terms of use </a>
	</div>
	<div class="f-link1">
		<a>privacy statement </a>
	</div>
	<div class="f-copyrights">
		<p>© all rights reserved | Designed by  <a href="http://w3layouts.com/">W3Layouts</a></p>	
	</div>
	<div class="clear"></div>
</div>
</div>
</body>
</html>