<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Free Grand-Hotel for Website Template | Contact :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="wrap">
<div class="header">
	<div class="logo">
		<a href="index.html"><img src="images/logo.png" alt=""></a>
	</div>
	<div class="search-form">
	<form>
		<fieldset>
			<label><input type="text" value="Search" onfocus="if(this.value=='Search'){this.value=''}" onblur="if(this.value==''){this.value='Search'}"></label><input type="image" src="images/search-form-input-img.png" alt="">
		</fieldset>
	</form>
	</div>
 <div class="clear"></div>
		<div class="nav">
			<ul>   	
				<li><a href="index.html">HOME</a></li>
				<li ><a href="about.html">ABOUT</a></li>
				<li><a href="booking.html">BOOKING</a></li>
				<li class="active"><a href="contact.html">CONTACT</a></li>
			</ul>
</div>
	<div class="clear"></div>
	<div class="header-banner">
		<div class="banner">
			<img src="images/banner1.jpg" alt="">
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
<div class="content">
	<div class="cont-logo">
		<h2>Get In Touch</h2>
	</div>
<div class="contact">
	<div class="cont-left-main"> 
			<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
			<div class="ser-para">
			<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
			</div>
			<div class="clear"></div>
	</div>
	<h3>Contact form:</h3>
<div class="main">
    <form>
	<table cellspacing="8">
    <tbody><tr><th>NAME:</th><td colspan="6"><input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"></td></tr>
	<tr><th>E-Mail Address:</th><td colspan="6"><input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-Mail';}"></td></tr>
    <tr><th>Phone Number:</th><td colspan="6"><input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone No';}"></td></tr>
    <tr><th>Address:</th><td colspan="6"><input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}"></td></tr>
    <tr><th>Likes / Comments:</th></tr>
    <tr><td colspan="6"><textarea value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}"></textarea></td></tr>
     <tr> <td> </td></tr>
     </tbody></table>
     </form>
     <div class="clear"></div>
        <div class="contact-form">
				<div>
				  	<button class="tsc_c3b_large tsc_c3b_orange tsc_button1">Submit</button>
				</div>
		</div>
</div>
   <div class="clear"></div>
<div class="contact-grids">
			<h4>Contact Details</h4>
			<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those </p>
			<div class="grid-bot">
				<div class="grid1-l-img">
					<img src="images/ico-phone.png" alt=""/>
				</div>
				<div class="grid1-l-desc">
					<p>Telephone: +1 959 603 6035</p>
				</div>
				<div class="clear"></div>
		</div>
			<div class="grid-bot">
				<div class="grid1-l-img">
					<img src="images/ico-fax.png" alt=""/>
				</div>
				<div class="grid1-l-desc">
					<p> Fax: +1 800 550 6539</p>
				</div>
				<div class="clear"></div>
		</div>
		</div>
		<div class="contact-logo">
			<img src="images/pic8.jpg" alt="">
		</div>
   <div class="clear"></div>
 </div>
<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="footer">
	<div class="f-link">
		<a>terms of use </a>
	</div>
	<div class="f-link1">
		<a>privacy statement </a>
	</div>
	<div class="f-copyrights">
		<p>© all rights reserved | Designed by  <a href="http://w3layouts.com/">W3Layouts</a></p>	
	</div>
	<div class="clear"></div>
</div>
</div>
</body>
</html>