<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Lounge Hotel Website Template | Feedback :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrap">
	<div class="header">
		<div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
	    <div class="nav">
	        <ul>
	            <li><a href="index.html">Home</a></li>
	            <li><a href="services.html">Services</a></li>
	            <li><a href="tarrif.html">Tarrifs</a></li>
	            <li><a href="gallery.html">Gallery</a></li>
	            <li class="active"><a href="feedback.html">contact</a></li>
	            <div class="clear"></div>
	        </ul>
	    </div>
    </div>
<div class="main-body">
<div class="feed">

	<div class="feedback">
        <h1>Feedback</h1>
        <form>
        	<div>
            	<span><label>Name</label></span>
            	<span><input type="text" value="" /></span>
            </div>
            <div>
            	<span><label>Email</label></span>
            	<span><input type="text" value="" /></span>
            </div>
        	<div>
            	<span><label>body</label></span>
            	<span><textarea></textarea></span>
            </div>
        	<div>
            	<span><input type="submit" value="Submit" /></span>
            </div>
        </form>
    </div>
    <div class="map"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Statue+of+Liberty,+New+York,+NY,+United+States&amp;aq=0&amp;oq=statue+of+liber&amp;sll=16.256776,80.776958&amp;sspn=14.413769,26.784668&amp;ie=UTF8&amp;hq=Statue+of+Liberty,+New+York,+NY,+United+States&amp;ll=40.6892,-74.044574&amp;spn=0.016921,0.032015&amp;t=m&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Statue+of+Liberty,+New+York,+NY,+United+States&amp;aq=0&amp;oq=statue+of+liber&amp;sll=16.256776,80.776958&amp;sspn=14.413769,26.784668&amp;ie=UTF8&amp;hq=Statue+of+Liberty,+New+York,+NY,+United+States&amp;ll=40.6892,-74.044574&amp;spn=0.016921,0.032015&amp;t=m" style="color:#666;padding:10px;text-align:left">View Larger Map</a></small></div>
    <div class="clear"></div>
</div>
</div>
<div class="footer">
        <ul><h3>Home</h3>
            <li><a href="index.html"></a></li>
            <li><a href="single.html">Proin sed nisi leo, ac aliquam</a></li>
            <li><a href="single.html">Ut id turpis ante, sit amet males</a></li>
            <li><a href="single.html">Aliquam quis urna varius ipsum phar</a></li>
            <li><a href="feedback.html">Lorem ipsum dolor sit amet, consectetur</a></li>
        </ul>
        <ul><h3>Services</h3>
            <li><a href="index.html">Donec id ante id urna vehicula mollis</a></li>
            <li><a href="single.html">Aenean dignissim tellus sed quam </a></li>
            <li><a href="single.html">Mauris in mauris in erat auctor semper</a></li>
            <li><a href="single.html">Fusce tempus viverra turpis, vitae</a></li>
            <li><a href="feedback.html">Vestibulum placerat massa et justo</a></li>
        </ul>
        <ul><h3>Feedback</h3>
            <li><a href="index.html">Home</a></li>
            <li><a href="single.html">About</a></li>
            <li><a href="single.html">Services</a></li>
            <li><a href="single.html">Login</a></li>
            <li><a href="feedback.html">Contact</a></li>
        </ul>
        <div class="clear"></div>
</div>
    <div class="copy">
    	<p>&copy; 2012 rights Reseverd | Design by <a href="http://w3layouts.com">W3Layouts.com</a></p>
    </div>
</div>

</body>
</html>
