<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Lounge Hotel Website Template | Tarrifs :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrap">
	<div class="header">
	<div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
    <div class="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="services.html">Services</a></li>
            <li class="active"><a href="tarrif.html">Tarrifs</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="feedback.html">contact</a></li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="main-body">
	<div class="services">
		<table class="table" summary="Sample Table" style="width:80%;">
   
    <thead>
      <tr>
        <th scope="col">Room types</th>
        <th scope="col">Single</th>
        <th scope="col">Double</th>
        <th scope="col">Vat</th>
        
        <th scope="col">...</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="row">Total</th>
        <td colspan="7">5 types</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th scope="row">Family</th>
        
        <td>600$</td>
        <td>1200$</td>
        <td>5%</td>
       
        <td><a href="#">details</a></td>
      </tr>
      <tr class="odd">
        <th scope="row">Standard Rooms</th>
       
        <td>600$</td>
        <td>1200$</td>
        <td>5%</td>
       
        <td><a href="#">details</a></td>
      </tr>
      <tr>
        <th scope="row">Executive Rooms</th>
       
        <td>600$</td>
        <td>1200$</td>
        <td>5%</td>
       
        <td><a href="#">details</a></td>
      </tr>
      <tr class="odd">
        <th scope="row">Deluxe Rooms</th>
       
        <td>600$</td>
        <td>1200$</td>
        <td>5%</td>
        <td><a href="#">details</a></td>
      </tr>
      <tr class="odd">
        <th scope="row">Suite Rooms</th>
       
        <td>600$</td>
        <td>1200$</td>
        <td>5%</td>
        <td><a href="#">details</a></td>
      </tr>
    </tbody>
  </table>
		
	</div>
	<div class="text-box">
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
	</div>
    
</div>
<div class="footer">
        <ul><h3>Home</h3>
            <li><a href="index.html"></a></li>
            <li><a href="single.html">Proin sed nisi leo, ac aliquam</a></li>
            <li><a href="single.html">Ut id turpis ante, sit amet males</a></li>
            <li><a href="single.html">Aliquam quis urna varius ipsum phar</a></li>
            <li><a href="feedback.html">Lorem ipsum dolor sit amet, consectetur</a></li>
        </ul>
        <ul><h3>Services</h3>
            <li><a href="index.html">Donec id ante id urna vehicula mollis</a></li>
            <li><a href="single.html">Aenean dignissim tellus sed quam </a></li>
            <li><a href="single.html">Mauris in mauris in erat auctor semper</a></li>
            <li><a href="single.html">Fusce tempus viverra turpis, vitae</a></li>
            <li><a href="feedback.html">Vestibulum placerat massa et justo</a></li>
        </ul>
        <ul><h3>Feedback</h3>
            <li><a href="index.html">Home</a></li>
            <li><a href="single.html">About</a></li>
            <li><a href="single.html">Services</a></li>
            <li><a href="single.html">Login</a></li>
            <li><a href="feedback.html">Contact</a></li>
        </ul>
        <div class="clear"></div>
</div>
    <div class="copy">
    	<p>&copy; 2012 rights Reseverd | Design by <a href="http://w3layouts.com">W3Layouts.com</a></p>
    </div>
    </div>

</body>
</html>
